.mi-formulario {
  max-width: 800px;
  margin: auto;
  line-height: 25px;
}

.card.mx-4.mx-md-5.shadow-5-strong {
  margin-top: -100px;
  background: hsla(0, 0%, 100%, 0.8);
  backdrop-filter: blur(30px);
}

.fw-bold{
  justify-content: center;
  font-family:'Times New Roman', Times, serif;
}

button{
  background-color:#536bf6;
}